$font: Ubuntu, sans-serif;

@mixin reset
{
    overflow-y: auto;
}

*
{
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html
{
    @include reset;

    body
    {
        @include reset;
        font-family: $font;
        height: 100vh;
    }
}

/* ------- HEADER ------- */

    header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 10px 5px 10px;

        .filter
        {
            font-size: 20px;
            color: #333;

            &:hover
            {
                color: #d477f4;
                cursor: pointer;
            }
        }

        .burger
        {
            animation-name: stop;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            width: max-content;
        }

        .bar
        {
            width: 30px;
            border-radius: 10px;
            height: 5px;
            background-color: #333;
            margin: 6px 0 6px 0;
        }

        .burger:hover
        {
            cursor: pointer;
            animation-name: rotate;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
    
            .bar
            {
                background-color: #d477f4;
            }
        }
    
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to {
                transform: rotate(-90deg);
            }
        }
    
        @keyframes stop {
            from {
                transform: rotate(-90deg);
            }
            to {
                transform: rotate(0);
            }
        }
    }

/* ------- MAIN ------- */

    main
    {
        padding: 20px 10px 11px 10px;
    }

    .cat-list
    {
        width: 100%;
        display: inline-flex;
        gap: 15px;
        justify-content: center;
        list-style: none;

        .cat-item
        {
            font-size: 20px;

            &:hover
            {
                color: #d477f4;
                cursor: pointer;
                font-weight: 500;
            }
        }

        .active-cat
        {
            color: #d477f4;
            font-weight: 500;
            text-decoration: underline;
            text-underline-offset: 10px;
            text-decoration-thickness: 3px;
        }

        .add-cat
        {
            background-color: #e5e5e5;
            padding: 0 2px 0 2px;
            border-radius: 5px;

            &:hover
            {
                background-color: #d477f4;
                cursor: pointer;
                color: #333!important;
            }
        }
    }

@media (min-width: 320px) and (max-width: 1024px)
{

}

@media (min-width: 1025px)
{
    body
    {
        width: 1025px;
        margin: auto;
    }
}