$font: Ubuntu, sans-serif;

@mixin reset
{
    overflow-y: auto;
}

*
{
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html
{
    @include reset;

    body
    {
        @include reset;
        font-family: $font;
        height: 100vh;
    }
}

/* ------- HEADER ------- */

    header
    {
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: 0;
        width: 100%;

        .burger
        {
            animation-name: stop;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            width: max-content;
            
            margin: 0 10px 8px 0;
        }

        .bar
        {
            width: 30px;
            border-radius: 10px;
            height: 5px;
            background-color: #333;
            margin: 6px;
        }

        .burger:hover
        {
            cursor: pointer;
            animation-name: rotate;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
    
            .bar
            {
                background-color: #d477f4;
            }
        }
    
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to {
                transform: rotate(-90deg);
            }
        }
    
        @keyframes stop {
            from {
                transform: rotate(-90deg);
            }
            to {
                transform: rotate(0);
            }
        }
    }

/* ------- MAIN ------- */