$font: Ubuntu, sans-serif;

@mixin reset
{
    overflow-y: auto;
}

*
{
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html
{
    @include reset;

    body
    {
        @include reset;
        font-family: $font;
        height: 100vh;
        background-color: #d477f4;
    }
}

/* ------- HEADER ------- */

    header
    {
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 10px 5px 10px;

        .burger
        {
            animation-name: stop;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            width: max-content;
        }

        .bar
        {
            width: 30px;
            border-radius: 10px;
            height: 5px;
            background-color: #333;
            margin: 6px;
        }

        .burger:hover
        {
            cursor: pointer;
            animation-name: rotate;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
    
            .bar
            {
                background-color: #d477f4;
            }
        }
    
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to {
                transform: rotate(-90deg);
            }
        }
    
        @keyframes stop {
            from {
                transform: rotate(-90deg);
            }
            to {
                transform: rotate(0);
            }
        }
    }

/* ------- MAIN ------- */

    main
    {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .purpose-text
    {
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
    }

    .options
    {
        padding: 40px;
        background-color: #333;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;

        &:hover
        {
            background-color: #d477f4;
        }
    }

@media (min-width: 320px) and (max-width: 1024px)
{
    .options-block
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media (min-width: 1025px)
{
    body
    {
        width: 1025px;
        margin: auto;
    }

    .options-block
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        gap: 30px;
    }
}