$font: Ubuntu, sans-serif;

@mixin reset
{
    overflow-y: auto;
}

*
{
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html
{
    @include reset;

    body
    {
        @include reset;
        font-family: $font;
        height: 100vh;
    }
}

/* ------- HEADER ------- */

    header
    {
        display: flex;
        justify-content: end;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px 10px 5px 10px;

        .burger
        {
            animation-name: stop;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            width: max-content;
        }

        .bar
        {
            width: 30px;
            border-radius: 10px;
            height: 5px;
            background-color: #333;
            margin: 6px;
        }

        .burger:hover
        {
            cursor: pointer;
            animation-name: rotate;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
    
            .bar
            {
                background-color: #d477f4;
            }
        }
    
        @keyframes rotate {
            from {
                transform: rotate(0);
            }
            to {
                transform: rotate(-90deg);
            }
        }
    
        @keyframes stop {
            from {
                transform: rotate(-90deg);
            }
            to {
                transform: rotate(0);
            }
        }
    }

/* ------- MAIN ------- */

    main
    {
        height: 100%;
    }

    /* ------- TITLE ------- */

        .page-title
        {
            text-align: center;
            font-size: 20px;
        }

        .title-underline
        {
            border: 1px solid #333;
            width: 40%;
            margin: 20px 0 30px 0;
        }

    /* ------- BACKGROUND ------- */

        .background-side
        {
            background-color: #d477f4;
        }

        .bck-sidetext
        {
            text-align: center;
            padding: 10px;
        }

    /* ------- FORM ------- */

        .form-side
        {
            .form
            {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .form-field
            {
                display: flex;
                flex-direction: column;

                input
                {
                    width: 100%;
                    height: 30px;
                    margin: 10px 0 10px 0;
                    padding: 5px;
                    background-color: #333;
                    border-radius: 5px;
                    color: #fff;
                }

                .forgot-psw
                {
                    text-decoration: underline;
                    color: #d197fc;
                    font-weight: 500;

                    &:hover
                    {
                        color: #333;
                    }
                }

                .forgot-label
                {
                    text-align: center;
                    padding: 10px;
                }
            }

            .form-button
            {
                margin-top: 20px;
                padding: 10px;
                background-color: #333;
                color: #fff;
                border-radius: 5px;

                &:hover
                {
                    background-color: #d197fc;
                    cursor: pointer;
                }
            }
        }

@media (min-width: 320px) and (max-width: 1024px) {

    main
    {
        display: flex;
        align-items: center;
        flex-direction: column;

        .background-side
        {
            margin-bottom: 20px;
        }
    }
}

@media (min-width: 1025px) {

/* HEADER */

    header
    {
        position: relative;
    }

/* MAIN */

    main
    {
        width: 1025px;
        margin: auto;
        display: inline-grid;
        grid-template-columns: [start] 1fr [center] 1fr [end];
        grid-template-rows: [start] 1fr [end];

        .background-side
        {
            grid-column: center / end;
            grid-row: start / end;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .form-side
        {
            grid-column: start / center;
            grid-row: start / end;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row!important;
        }
    }
}